/***---RESET AND VARIABLES---***/
:root {
  /*colours*/
  --primary-dark: #333;
  --secondary-dark: #979797;
  --primary-light: #ededed;
  --secondary-light: #fafafa;

  /*spacing*/
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;

  /*misc*/
  --border-radius: 8px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html {
  /*color-scheme: dark light;*/
}

img,
picture,
svg,
vide {
  display: block;
  max-width: 100%;
}

body {
  color: var(--primary-dark);
  background-color: var(--primary-light);
  font-family: 'Roboto', Arial, sans-serif;
}

input,
select,
button {
  border: none;
  outline: none;
  color: inherit;
  background-color: var(--primary-light);
  border-radius: var(--border-radius);
}

button:hover {
  filter: brightness(95%);
  box-shadow: var(--shadow);
}

/***---HEADER---***/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xl);
  font-size: 1.24rem;
  font-weight: 700;
  background-color: var(--secondary-light);
}

#reset-btn {
  width: 80px;
  height: 40px;
}

/***---MAIN---***/

main {
  display: flex;
  flex-direction: column;
  margin: auto;
}

/***---Form---****/

#game-form {
  display: flex;
  gap: var(--spacing-xl);
  margin: var(--spacing-xl);
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxs);
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--border-radius);
  background-color: var(--secondary-light);
  min-width: 156px;
}

.card-row {
  height: 32px;
  display: flex;
  align-items: center;
}

.card .card-row:nth-of-type(n + 2) {
  padding-left: var(--spacing-xxs);
}

.player-name > input {
  padding-left: var(--spacing-xxs);
  min-width: 0;
  width: 100%;
  height: 32px;
}

#rounds-dropdown,
#board-size-dropdown {
  height: 100%;
}

#submit-btn {
  align-self: center;
  background-color: var(--secondary-dark);
  width: 100px;
  height: 40px;
}

/***---Gameboard---****/

#game-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--spacing-md);
}

.board-element {
  background-color: var(--secondary-dark);
  width: 64px;
  height: 64px;
}

/***---FOOTER---***/

body {
  /* footer support */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding: var(--spacing-xs);
  padding-top: var(--spacing-xl);
}

#copyright {
  font-size: 1.24rem;
  font-weight: 700;
  text-decoration-line: none;
  letter-spacing: 0.5px;
  color: var(--secondary-dark);
}

.fa-github {
  font-size: 1.38rem;
  transition: transform 0.4s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

/***---MEDIA QUERIES---***/

@media screen and (max-width: 660px) {
  #game-form {
    flex-direction: column;
  }
  #game-container {
    order: -1;
  }
}
