/***---RESET AND VARIABLES---***/
:root {
  /*colours*/
  --primary-dark: #333;
  --secondary-dark: #a7a7a7;
  --primary-light: #ededed;
  --secondary-light: #fafafa;
  --red: #ff9595;
  --green: #bfff95;
  --blue: #95e6ff;

  /*spacing*/
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;

  /*misc*/
  --border-radius: 8px;
  --shadow: 0px 1px 2px rgba(0, 0, 0, 0.14);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

img,
picture,
svg,
vide {
  display: block;
  max-width: 100%;
}

body {
  color: var(--primary-dark);
  background-color: var(--primary-light);
  font-family: 'Roboto', Arial, sans-serif;
}

input,
select,
button {
  border: none;
  outline: none;
  color: inherit;
  background-color: var(--primary-light);
  border-radius: var(--border-radius);
}

button:hover {
  filter: brightness(98%);
  scale: 1.03;
}

/***---HEADER---***/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xl);
  font-size: 2rem;
  font-weight: 700;
  background-color: var(--secondary-light);
  box-shadow: var(--shadow);
}

#reset-btn {
  width: 80px;
  height: 40px;
}

/***---MAIN---***/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

/***---Form---****/

#game-form {
  display: flex;
  gap: var(--spacing-xl);
  margin: var(--spacing-xl);
}

.card-title {
  font-weight: 500;
  font-size: 1.16rem;
  padding: 2px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxs);
  padding: var(--spacing-xs) var(--spacing-sm);
  border: 2px solid rgba(0, 0, 0, 0.18);
  border-radius: var(--border-radius);
  color: var(--primary-dark);
  background-color: var(--secondary-light);
  min-width: 156px;
}

.card-row {
  height: 32px;
  display: flex;
  align-items: center;
  gap: var(--spacing-xxs);
}

.card .card-row:nth-of-type(n + 2) {
  padding-left: var(--spacing-xxs);
}

.player-name > input {
  padding-left: var(--spacing-xxs);
  min-width: 0;
  width: 100%;
  height: 32px;
}

#rounds-dropdown,
#board-size-dropdown {
  height: 100%;
}

#reset-btn,
#submit-btn {
  font-size: 1.06rem;
  font-weight: 700;
  background-color: var(--secondary-dark);
  margin: 0 var(--spacing-sm);
  width: 100px;
  height: 40px;
}

#reset-btn {
  background-color: var(--red);
}

#submit-btn {
  background-color: var(--green);
}

/***---Gameboard---****/

#game-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--spacing-md);
}

.board-element {
  font-size: 1.16rem;
  font-weight: 700;
  background-color: var(--secondary-light);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.33);
  width: 64px;
  height: 64px;
}

/***---FOOTER---***/

body {
  /* footer support */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding: var(--spacing-xs);
  padding-top: var(--spacing-xl);
}

#copyright {
  font-size: 1.24rem;
  font-weight: 700;
  text-decoration-line: none;
  letter-spacing: 0.5px;
  color: var(--secondary-dark);
}

.fa-github {
  font-size: 1.38rem;
  transition: transform 0.4s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

/***---MEDIA QUERIES---***/

@media screen and (max-width: 680px) {
  #game-form {
    flex-direction: column;
  }
  #game-container {
    order: -1;
  }
}
